<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="UTF-8">
  <link rel="stylesheet" href="../static/css/bootstrap.min.css"
        th:href="@{css/bootstrap.min.css}">
  <title>Splitter</title>
</head>
<body>
<div class="container">
  <header class="row">
    <h1>
      Gruppe schließen
    </h1>
  </header>
  <main class="row">
    <form th:action="gruppe/schliessen" method="post">
      <input type="hidden" th:value="*{id}" name="id">
      <div>
        <span>Bist du dir sicher, dass du die Gruppe schließen willst? Danach können keine weiteren Transaktionen mehr hinzugefügt werden!</span>
      </div>
      <a class="btn btn-secondary mt-2" th:href="@{gruppe(nr=*{id})}">Abbrechen</a>
      <button type="submit" class="btn btn-danger mt-2">Gruppe schließen</button>
    </form>
  </main>
</div>
</body>
</html>