<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="UTF-8">
  <link rel="stylesheet" href="../static/css/bootstrap.min.css"
        th:href="@{/css/bootstrap.min.css}">
  <title>Splitter</title>
</head>
<body>
<div class="container">
  <header class="row">
    <h1>Gruppenübersicht</h1>
  </header>
  <main class="row">
    <div class="col text-end">
      <div class="btn-group">
        <a href="gruppe/erstellen" class="btn btn-outline-primary">Neue Gruppe</a>
        <a href="nutzer/uebersicht" class="btn btn-outline-primary">Meine Übersicht</a>
      </div>
    </div>
    <section class="mt-5">
      <h2>Offene Gruppen:</h2>
      <ul class="list-group" th:remove="all-but-first">
        <li class="list-group-item list-group-item-action" th:each="offeneGruppe: ${offeneGruppen}">
          <a href="#" th:href="@{gruppe(nr=*{offeneGruppe.getId})}"><span th:text="*{offeneGruppe.getName}">Gruppe 1</span></a>
        </li>
        <li class="list-group-item list-group-item-action">
          <a href="#"><span>Gruppe 2</span></a>
        </li>
        <li class="list-group-item list-group-item-action">
          <a href="#"><span>Gruppe 3</span></a>
        </li>
      </ul>
    </section>
    <section class="mt-5">
      <h2>Geschlossene Gruppen</h2>
      <ul class="list-group" th:remove="all-but-first">
        <li class="list-group-item list-group-item-action" th:each="geschlosseneGruppe: ${geschlosseneGruppen}">
          <a href="#" th:href="@{gruppe(nr=*{geschlosseneGruppe.getId})}"><span th:text="*{geschlosseneGruppe.getName}">Gruppe 1</span></a>
        </li>
        <li class="list-group-item list-group-item-action">
          <a href="#"><span>Gruppe 2</span></a>
        </li>
        <li class="list-group-item list-group-item-action">
          <a href="#"><span>Gruppe 3</span></a>
        </li>
      </ul>
    </section>
  </main>
</div>
</body>
</html>